<h1>Prehistoric Creatures App</h1>


<ul>
    
    <% for (var piece of data) {%> 
        <li> <%- piece.type %> 
        <img src=<%- piece.img_url %> height="100px">
        </li>
    <% } %> 
</ul>
