<h1>Add a new Creature</h1>
<form action="/prehistoric_creatures" method="POST">
    <label for="creatureType">Type</label>
    <input type="text" name="type" id="creatureType">

    <label for="imgUrl">IMG URL</label>
    <input type="text" name="img_url" id="imgUrl">

    <input type="submit">
</form>